
@{ ViewBag.Title = "Referral"; }

@model CaliphWeb.Models.ViewModel.ReferralListViewModel
<script src="~/global_assets/js/demo_pages/form_select2.js"></script>
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-list"></i> <span class="font-weight-semibold">Recruitment Referral List</span> </h4>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>


    </div>


    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a class="breadcrumb-item"><i class="icon-users4 mr-2"></i> Agent Recruitment</a>
                <a class="breadcrumb-item">Recruitment Referral List</a>
            </div>

            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>

    </div>
</div>
<!-- /page header -->
<!-- Basic datatable -->
<div class="card">
    <div class="card-header">
        @*<h5 class="card-title">Basic datatable</h5>*@
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div class="datatable-header">
                <div class="row">
                    <div class="col-md-2 col-12 p-0">
                        <label class="m-1">
                            Agent Recruitment Name:
                            <input type="text" id="recruitmentName" class="form-control">
                        </label>
                    </div>
                    <div class="col-md-2 col-12 p-0">
                        <label class="m-1">
                            Referral Name:
                            <input type="text" id="name" class="form-control">
                        </label>
                    </div>
                    <div class="col-md-2 p-0">
                        <label class="m-1">
                            Owner:
                            <select data-placeholder="Agent Name" id="CreatedBy" name="select2" class="form-control select-search" data-fouc>
                                <option value="">All</option>
                                @foreach (var user in Model.Users)
                                {
                                    var selected = user.Username == CaliphWeb.Helper.UserHelper.GetLoginUser() ? "selected" : "";
                                    <option value="@user.Username" @selected>@user.Username</option>
                                }

                            </select>
                        </label>
                    </div>
                    <div class="col-md-2 p-0">
                        <label class="m-1">
                            <br />
                            <button type="button" onclick="SearchData(1)" class="btn btn-primary d-inline" id="bootbox_form"> <i class="icon-search4"></i> </button>

                        </label>
                    </div>
                    <div class="col-md-4 text-right">
                        <label class="m-1  text-left">
                            <span>Show:</span>
                            <select onchange="SearchData(1)" id="show-entries" class="custom-select">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <div id="referral-table">
                @Html.Partial("_ReferralListTable", Model.ReferralData)
            </div>
        </div>
    </div>
</div>
<!-- /basic datatable -->

@section Scripts{
    <script type="text/javascript">

         function SearchData(page) {
            @{ var filter = new CaliphWeb.ViewModel.Data.ReferralLeadFilterRequest();
                }
            var searchFilter = @Html.Raw(Json.Encode(filter));
            searchFilter.PageNumber = page;
            searchFilter.ClientName = $('#clientName').val();
            searchFilter.ReferralName = $('#name').val();
             searchFilter.CreatedBy = $('#CreatedBy').val();
            searchFilter.PageSize = $('#show-entries').val();

             var loading = $('#loading').html();
             $('#referral-table').html(loading);
            $.ajax({
                url: '@Url.Action("Referral", "Agent")',
                type: 'POST',
                data: searchFilter,
                success: function (response) {

                    $('#referral-table').html(response);
                }
            });

        }

        var swalInit = swal.mixin({
            buttonsStyling: false,
            customClass: {
                confirmButton: 'btn btn-primary',
                cancelButton: 'btn btn-light',
                denyButton: 'btn btn-light',
                input: 'form-control'
            }
        });

        //lead = referral
        function ConvertLead(id ,page) {
             $.ajax({
                url: '@Url.Action("ConvertReferral", "Agent")',
                type: 'POST',
                 data: { leadId: id},
                success: function (response) {

                    swalInit.fire({
                        title: 'Convert Success',
                        text: 'Converted to Client!',
                        icon: 'success'
                    });

                    SearchData(page);
                }
            });

        }

    </script>
}
