

@using CaliphWeb.Helper
@model  CaliphWeb.Models.ViewModel.RevertKIVData



<table class="table datatable-basic">
    <thead>
        <tr>
            <th> Name</th>
            <th> Contact</th>
            <th> Filling Date</th>
            <th>KIV Date</th>
            <th>Revert Date</th>
            <th>Agent</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kiv in Model.KIVRevertHistories)
        {

            <tr>
                <td>@kiv.Name</td>
                <td>@kiv.ContactNo</td>
                <td>@kiv.FilingDate</td>
                <td>@kiv.KIVDate</td>
                <td>@kiv.RevertDate</td>
                <td>@kiv.CreatedBy</td>
            </tr>
        }
 
    </tbody>
</table>

@{ var pager = new Pager(pageSize: Model.Paging.PageSize, currentPage: Model.Paging.CurrentPage, totalItems: Model.Paging.ItemCount);}
<div class="datatable-footer">
    <div class="dataTables_info">
        Showing @pager.StartIndex to @pager.EndIndex  of @pager.TotalItems entries
    </div>
    <div class="dataTables_paginate paging_simple_numbers">
        @{ var prevPage = pager.CurrentPage - 1;
            var disableClass = prevPage == 0 ? "disabled" : "";}
        <a class="paginate_button previous @disableClass" onclick="SearchData(@prevPage )">←</a>

        @foreach (var page in pager.Pages)
        {
            var current = page == pager.CurrentPage ? "current" : "";
            <a class="paginate_button @current" onclick="SearchData(@page)">@page</a>
        }
        @{ var nextPage = pager.CurrentPage + 1;
            var isLastPage = nextPage > pager.EndPage;
            var disableNextClass = isLastPage ? "disabled" : "";
        }
        <a class="paginate_button next @disableNextClass" @disableNextClass onclick="SearchData(@prevPage )">→</a>
    </div>
</div>

