@using CaliphWeb.ViewModel
@model  GenerationGroupPolicy

<table class="table table-border-dashed">
    <thead>
        <tr id="action">
           
            <td>Agent</td>
            <td>AFYC</td>
            <td>PP</td>
            <td>%</td>
            <td>New %</td>
            <td>New PP</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var agentHierarchyPolicy in Model.AgentHierarchyPolicies)
        {
            <tr id="looping-@agentHierarchyPolicy.Agent.agent_id">
                <td class="expand-control" data-agent-id="@agentHierarchyPolicy.Agent.agent_id" data-generation="1">
                    @if (agentHierarchyPolicy.Agent.IsLeader)
                    {
                        <a style="font-size:18px; font-weight:800;cursor:pointer">
                            +
                        </a>
                        <input type="hidden" id="expand_@agentHierarchyPolicy.Agent.agent_id" value="0" />
                    }
                </td>
                <td>
                    <a href="#" onclick="DisplayCalculator('@agentHierarchyPolicy.Agent.agent_id', 'p', '@agentHierarchyPolicy.Agent.agent_name')">
                        @agentHierarchyPolicy.Agent.agent_id (  @agentHierarchyPolicy.Agent.role )<br />
                        @agentHierarchyPolicy.Agent.agent_name
                    </a>
                </td>
                <td id="ace_@agentHierarchyPolicy.Agent.agent_id">@agentHierarchyPolicy.ACE.ToString("n2")</td>
                <td id="pp_@agentHierarchyPolicy.Agent.agent_id">@agentHierarchyPolicy.PersistencyPremium.ToString("n2")</td>
                <td>

                    @agentHierarchyPolicy.Ratio.ToString("n2") %
                </td>
                <td>
                    <input type="number" class="form-control" id="new_ratio_@agentHierarchyPolicy.Agent.agent_id" min="@agentHierarchyPolicy.Ratio" value="@agentHierarchyPolicy.Ratio.ToString("n2")" onchange="PPRatioTextChange('@agentHierarchyPolicy.Agent.agent_id', '@Model.LeaderId', @Model.Generation)" />
                </td>
                <td id="agent_new_pp_@agentHierarchyPolicy.Agent.agent_id">

                    @agentHierarchyPolicy.PersistencyPremium.ToString("n2")
                </td>
            </tr>
        }
    </tbody>
</table>