
@model CaliphWeb.ViewModel.PersistencyCalculatorViewModel
@using CaliphWeb.ViewModel

<script src="~/global_assets/js/demo_pages/components_collapsible.js"></script>
<script src="~/global_assets/js/demo_pages/picker_date.js"></script>
<!-- Basic datatable -->
<div class="card" id="search">
    <div class="card-header">
    </div>
    <div class="card-body">
        @{ var loginUser = CaliphWeb.Helper.UserHelper.GetLoginUserViewModel();}

        <div class=" table-responsive">
            <div class="row">
                <div class="col-md-12 d-flex align-content-between">
                    <div class="col-md-5 m-1">
                        <span> Date:</span>
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-calendar22"></i></span>
                            </span>
                            <input type="text"   id="CreatedDate" class="form-control daterange-basic">
                        </div>
                    </div>
                    <label class="m-1">
                        <br />
                        <button type="button" onclick="SearchSummaryData()" class="btn btn-primary d-inline" id="bootbox_form"> <i class="icon-search4"></i> </button>
                    </label>
                </div>
            </div>

            <div class="table datatable-header">
                <div class="row">
                </div>
                @{
                    var firstLevel = Model.HierarchyPolicies.Where(x => x.Generation == 1).FirstOrDefault();


                }

                @if (firstLevel != null)
                {

                    var wholeGroupPolicies = firstLevel.AgentHierarchyPolicies.Where(x => x.Agent.IsLeader);
                    var directGroupPolicies = firstLevel.AgentHierarchyPolicies.Where(x => !x.Agent.IsLeader);



                    if (directGroupPolicies != null)
                    {
                        <h2>Direct Group</h2>
                        <table class="table datatable-nested">
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                    <th>AFYC</th>
                                  
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td></td>
                                    <td>
                                        <a href="#" onclick="DisplayCalculator('@loginUser.Username', 'd', '@Json.Encode(loginUser.Fullname)')">


                                            @loginUser.Username (  @loginUser.RoleCode )<br />
                                            @loginUser.Fullname
                                        </a>
                                    </td>


                                    <td id="total_direct_ace" class="exclude">
                                        @{var groupace = directGroupPolicies.Sum(x => x.ACE);}
                                        @groupace.ToString("n2")


                                    </td>
                                 

                                </tr>

                                @foreach (var agentHierarchyPolicy in directGroupPolicies)
                                {
                                    var user = agentHierarchyPolicy.Agent;

                                    <tr>
                                        <td class="expand-control" data-agent-id="@user.agent_id" data-generation="@firstLevel.Generation">
                                            -

                                        </td>
                                        <td>
                                            <a href="#" onclick="DisplayCalculator('@user.agent_id', 'p', '@Json.Encode(@user.agent_name)')">


                                                @user.agent_id (  @user.role )<br />
                                                @user.agent_name
                                            </a>
                                        </td>
                                        <td id="ace_direct_@user.agent_id">

                                            @agentHierarchyPolicy.ACE.ToString("n2")

                                        </td>
                                    
                                    </tr>

                                }

                            </tbody>
                        </table>
                    }
                    if (wholeGroupPolicies != null)
                    {
                        <h2>Whole Group</h2>
                        <table class="table datatable-nested">
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                    <th>AFYC</th>
                                   
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td></td>
                                    <td>
                                        <a href="#" onclick="DisplayCalculator('@loginUser.Username', 'w', '@Json.Encode(loginUser.Fullname)')">


                                            @loginUser.Username (  @loginUser.RoleCode )<br />
                                            @loginUser.Fullname
                                        </a>
                                    </td>


                                    <td id="ace_group_@firstLevel.Generation" class="exclude">
                                        @{var groupace = wholeGroupPolicies.Sum(x => x.ACE);}
                                        @groupace.ToString("n2")


                                    </td>
                                 

                                </tr>

                                @foreach (var agentHierarchyPolicy in wholeGroupPolicies)
                                {
                                    var user = agentHierarchyPolicy.Agent;

                                    <tr>
                                        <td class="expand-control" data-agent-id="@user.agent_id" data-generation="@firstLevel.Generation">

                                            <a style="font-size:18px; font-weight:800;cursor:pointer">
                                                <span id="expand_icon_@user.agent_id">+</span>
                                            </a>
                                            <input type="hidden" id="expand_@user.agent_id" value="0" />

                                        </td>
                                        <td>
                                            <a href="#" onclick="DisplayCalculator('@user.agent_id', 'g', '@Json.Encode(@user.agent_name)')">


                                                @user.agent_id (  @user.role )<br />
                                                @user.agent_name
                                            </a>
                                        </td>
                                        <td id="ace_leader_@user.agent_id">

                                            @agentHierarchyPolicy.ACE.ToString("n2")

                                        </td>
                                        
                                    </tr>
                                 
                                }

                            </tbody>
                        </table>
                    }
                }
             

            </div>

        </div>
    </div>
</div>
<!-- /basic datatable -->




@section Scripts{

    <script type="text/javascript">
        let startOfMonth = new Date('@Model.StartDate.ToString("yyyy-MM-dd")');
        let endOfMonth =new Date('@Model.EndDate.ToString("yyyy-MM-dd")');
        // Basic initialization
        $('#CreatedDate').daterangepicker({
            parentEl: '.content-inner',
            startDate: startOfMonth,
            endDate: endOfMonth,

        });

        function ExpandGroup(agent, generation) {

            var hasExpand = $('#expand_' + agent).val();

            if (hasExpand == 1) {
                return;
            }
        @{ var filter = new CaliphWeb.ViewModel.PersistencyCalculatorViewModel();}
            var searchFilter = @Html.Raw(Json.Encode(filter));
            searchFilter.StartDate = $('#CreatedDate').data().daterangepicker.startDate._d.toJSON();
            searchFilter.EndDate = $('#CreatedDate').data().daterangepicker.endDate._d.toJSON();
            searchFilter.AgentId = agent;
            searchFilter.Generation = generation;
            $.ajax({
                url: '@Url.Action("SearchAgentPolicy", "Persistency")',
                type: 'POST',
                data: { req: searchFilter, page:'@CaliphWeb.Controllers.PersistencyController.PAGE_BUSINESS_REPORT' },
                success: function (response) {
                    $('#agent-policy-table_' + agent).html('');
                    $('#agent-policy-table_' + agent).html(response);
                    $('#expand_' + agent).val(1);
                }
            });
        }


           function DisplayCalculator(agent, type, name) {
        @{ var filterCalculator = new CaliphWeb.ViewModel.PersistencyCalculatorViewModel();}
            var searchFilter = @Html.Raw(Json.Encode(filterCalculator));
            searchFilter.StartDate = $('#CreatedDate').data().daterangepicker.startDate._d.toJSON();
               searchFilter.EndDate = $('#CreatedDate').data().daterangepicker.endDate._d.toJSON();
               searchFilter.AgentId = agent;
               searchFilter.AgentName = name;
               searchFilter.Type = type;
            $.ajax({
                url: '@Url.Action("Search", "Persistency")',
                type: 'POST',
                data: { req: searchFilter },
                success: function (response) {
                    window.open('/persistency/individualbusinessreport?agentid=' + agent
                        , '_blank');
                }
            });
        }


           function SearchSummaryData() {
            @{ var filterSummary = new CaliphWeb.ViewModel.PersistencyCalculatorViewModel
                {
                   AgentId = Model.AgentId,
                   AgentName= Model.AgentName
                };
}
            var searchFilter = @Html.Raw(Json.Encode(filterSummary));
            searchFilter.StartDate = $('#CreatedDate').data().daterangepicker.startDate._d.toJSON();
            searchFilter.EndDate = $('#CreatedDate').data().daterangepicker.endDate._d.toJSON();
            BlockUIHelper.blockUI('search')
            //save to tempdata
            // reload

            // grab from tempdata when page load
            $.ajax({
                url: '@Url.Action("Search", "Persistency")',
                type: 'POST',
                data: { req: searchFilter},
                success: function (response) {
                    //$('#client-table').html(response);
                    location.reload();
                }
            });

        }


       

    </script>
}
